/* style.css */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Important: removes default spacing */
}

button {
  padding: 25px;
  font-size: 20px;
  border-radius: 25px;
  background-color: grey;
}
